<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>SUNDARAM Kr.</title>  

<link href="./static/main.d8e0d294.css" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='skicon.ico') }}">
</head>

<body class="">

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('static/assets/images/img-01.jpg')"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>I am Sundaram Kumar</h1>
      <p>Python Developer</p>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://www.facebook.com/05skphotography" title="">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.instagram.com/x_sundar._.am_x/" title="">
          <i class="fa fa-instagram"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/sundaram-kumar-5b2a61249/" title="">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.snapchat.com/add/sundar.xx?share_id=2C3yHuGUBnE&locale=en-IN" title="">
          <i class="fa fa-snapchat"></i>

        </a>
      </p>
    </div>
  </header>



<!-- Add your site or app content here -->
 
 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>About me</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="./static/assets/images/img-01.png" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

              <p>Sundaram Kumar, I am a 19-year-old, I currently pursuing a BSc in Computer Science with a Specialization in Artificial Intelligence at <a href="https://www.karunya.edu/" title="">Karunya Institute of Technology and Sciences</a>. I am from Bihar but currently living in Coimbatore, Tamil Nadu.</p>
              <p>I am a skilled Python developer proficient in various programming languages such as C, C++, HTML, CSS, and JavaScript. My expertise in web design and programming has led to the successful creation of numerous projects.</p>

              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div class="row">
              <div class="col-md-4">
                <img src="./static/assets/images/imgs-02.jpg" class="img-responsive" alt="">
                <h3 class="h5">Automated teller machine(ATM)</h3>
                <p>May 2023</p>
              </div>
              <div class="col-md-4">
                <img src="./static/assets/images/imgs-03.jpg" class="img-responsive" alt="">
                <h3 class="h5">C++ Certificate</h3>
                <p>June 2023</p>
              </div>
              <div class="col-md-4">
                <img src="./static/assets/images/imgs-04.jpg" class="img-responsive" alt="">
                <h3 class="h5">Intro to Programming</h3>
                <p>October 2022</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Work</h2>
            <div class="work-experience">
              <small class="date">2023-2022</small>
              <h3 class="h5 date-title">Web developer - <a href="http://en.orson.io" title="Create professionnal website">Sundarm Kr.</a></h3>
              

              <p>I created a captivating website showcasing my impressive portfolio and projects, skillfully blending Python, HTML, CSS, and Java through a dynamic Mashup template, inspired by Flask Documentation, to present my personal information and professional accomplishments.</p>
            </div>

            <div class="work-experience">
              <small class="date">2023-2022</small>
              <h3 class="h5 date-title">Automated teller machine(ATM) - <a href="http://mashup-template.com" title="">ATM</a></h3>
              
              <p>Our group developed a college project, an ATM software in C language, providing customers with payment details and information seamlessly.</p>
            </div>
          </div>
        </div>
        

        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2022-2023</small>
                  <h3 class="h5 date-title">Bsc Computer Science Specialization in Artificial Intelligence</h3>
                  <p><a href="https://www.karunya.edu/" title="">Karunya University</a></p>
                </div>
                
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2020-2022</small>
                  <h3 class="h5 date-title">Higher secondary education</h3>
                  <p><a href="#" title="">+2 Sunderpur High School</a></p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2019-2020</small>
                  <h3 class="h5 date-title">Metrics Degree</h3>
                  <p><a href="https://www.harrowenglishschool.in/" title="">Harrow english School</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Language</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">English  <small>India</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Hindi  <small>North-India</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Tamil  <small>South-India</small></h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="./static/assets/images/img-05.png" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Photography</h3>
                  <p>SK.</p>
                </div>
              </div>
              <div class="item">
                <img src="./static/assets/images/img-06.png" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Photography</h3>
                  <p>SK.</p>
                </div>
              </div>

              <div class="item">
                <img src="./static/assets/images/img-07.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Photography</h3>
                  <p>SK.</p>
                </div>
              </div>
            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

          </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Social Network</h2>
            <div class="row">
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.linkedin.com/in/sundaram-kumar-5b2a61249/" title=""><span class="social-round-icon fa-icon"><i class="fa fa-linkedin"></i></span>sundaram kumar</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.instagram.com/x_sundar._.am_x/" title=""><span class="social-round-icon fa-icon"><i class="fa fa-instagram" aria-hidden="true"></i></span>x_sundar._.am_x</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.facebook.com/05skphotography" title=""><span class="social-round-icon fa-icon"><i class="fa fa-facebook-official" aria-hidden="true"></i></span>Sundram Kumar</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Contact</h2>
            Thank you! I will get in touched with you, shortly!
          </div>
        </div>
       
     </div>
   </div>
 </div>

</main>
<footer class="footer-container white-text-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p><img src="./static/skicon.ico" alt=""></p>
        
        <p>©All right reserved. It's Me <a href="#" title="">SUNDARAM KUMAR</a>/Python Developer</p>
        <p>
        <a class="fa-icon fa-icon-2x" href="https://www.facebook.com/05skphotography" title="">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.instagram.com/x_sundar._.am_x/" title="">
          <i class="fa fa-instagram"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/sundaram-kumar-5b2a61249/" title="">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.snapchat.com/add/sundar.xx?share_id=2C3yHuGUBnE&locale=en-IN" title="">
          <i class="fa fa-snapchat"></i>

        </a>
      </p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>
<script type="text/javascript" src="./static/main.bc58148c.js"></script></body>

</html>